<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Exchange Rates</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.icon"/>

</head>
<body>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/data.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
 
  <script>
      var _EUR_series = JSON.parse("{{ EUR_series|safe }}")
      var _JPY_series = JSON.parse("{{ JPY_series|safe }}")
      var _BRL_series = JSON.parse("{{ BRL_series|safe }}")
      var _Dates_series = "{{ Dates_series|safe }}"


</script>
  <script>
      Highcharts.chart('container', {

      

title: {
    text: 'Currencies exchange rates on last five business days'
},

subtitle: {
    text: 'Source: vatcomply.com'
},

yAxis: {
    title: {
        text: 'Exchange Rates based on USD'
    }
},

xAxis: {
    type: 'datetime',
    categories: [String(_Dates_series.slice(2,12)),String(_Dates_series.slice(16,26)),String(_Dates_series.slice(30,40)),String(_Dates_series.slice(44,54)),String(_Dates_series.slice(58,68))],
    uniqueNames: true,
    label: {format : '{value:%Y-%m-%d'},

    accessibility: {
        rangeDescription: 'Last five business days'
    }

},

legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
},

plotOptions: {
    series: {
        label: {
            connectorAllowed: false
        },
    }
},

series: [{
    name: 'EUR',
    data: _EUR_series
}, {
    name: 'JPY',
    data: _JPY_series
}, {
    name: 'BRL',
    data: _BRL_series
}],

responsive: {
    rules: [{
        condition: {
            maxWidth: 3
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
    }]
}

});
  </script>
  <p></p>
</body>
</html>
